body {
    margin: 0;
    padding: 0;
    background-image: url(./Static/henry-co-tqu0IOMaiU8-unsplash.jpg);
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
}


nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 24px;
    font-size: 20px;

}

nav ul li a{
    text-decoration: none;
    color: blue;
    
}

nav ul li a:hover{
    color: black;

}

hr{
    margin-left: 30px;
    margin-right: 30px;
    border: 1.3px solid rgb(179, 160, 160);
}


main hr{
    border: 1.3px solid rgb(179, 160, 160);
    margin-bottom: 20px;
}

.text-size-para h4{
    font-size: 25px;
    color: rgb(17, 17, 17);
    margin-bottom: -20px;

}

.text-size-para p{
    font-size: 23px;
    color: rgb(12, 12, 12);
}

/* body  Section 1*/
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    align-items: center;

}

.firstSection > div{
    width: 30%;
    
}


.leftSection{

    font-size: 2.8rem;   
}



.leftSection .btn{
    padding: 10px;  
    border-radius: 3px;
    font-size: 12px;
    background-color: beige;
    color: black;
    cursor: pointer;
}



.rightSection img{
    width: 300px;
    border: solid black;
    
}


.text-purple{
    color: rgb(99, 35, 158);
    margin: auto;
    
}


.text-gray{
    color: grey;
    height: 3px;
}



.leftSection div{
    font-size: 25px;
    margin-top: 1px;
   
}


#element{
    font-size: 25px;
}


/* body  Section 1*/

.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 70vh;
}

.secondSection h1{
    font-size: 1.5rem;
}

.secondSection .box{
background: rgb(48, 47, 47);
width: 30vw;
height: 2px;
margin: 56px 0;
display: flex;
}

.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: black;
    margin: 0 100px;
}

.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}


.vertical-title{
    position: relative;
    top: 73px;
    width: 150px;
    font-size: 16px;
}

.vertical-desc{
    position: relative;
    top: 86px;
    color: grey;
    width: 150px;
    font-size: 14px;

}


/* footer */



footer h3{
    font-size: 30px;
    text-align: center;
    margin: auto;

}

.footer-container{
    width: 100%;
    /* padding: 70px 30px 20px; */
    margin: auto;
}



.social-link{
    display: flex;
    justify-content: center;
    align-items: center;

       
}

.social-link a{
    text-decoration: none;
    margin-top: -55px;
    
}

.social-link a img{
    width: 45px;
    height: 40px;
    margin-right: 40px;
    margin-top: 65px;
    opacity: 0.9;
    
}

.footer-contact-me{
    text-align: center;
    justify-content: center;
}

.footer-contact-me h3{
    font-size: 25px;
    margin: 20px;
    margin-left: auto;

}


.footer-bottom{
    
    text-align: center;
    margin: auto;
}

.footer-bottom p{
    color: black;
    font-size: 18px;
    
   

}

